@*Reusable components do not need @page. They act like a partial view*@

<tr style="@BackgroundColor">
    <td>
        @Server.Name
    </td>
    <td>
        @Server.City
    </td>
    <td>
        <span class="@(Server.IsOnline ? "text-success" : "text-danger")">
            @(Server.IsOnline ? "Online" : "Offline")
        </span>
    </td>
    <td>
        @if (Server.IsOnline)
        {
            <text>11</text>
        }
        else
        {
            <text>-</text>
        }
    </td>
    <td>
        <a href="/server/@Server.Id" class="btn btn-link btn-sm">Edit</a>
        
        @*Toggle status*@
        <button 
            type="button"
            class="btn btn-sm @(Server.IsOnline ? "btn-warning" : "btn-success") ms-1"
            @onclick="HandleToggleServer"
        >
            @(Server.IsOnline ? "Turn Off" : "Turn On")
        </button>

        @*Delete Server*@   
        <button 
            type="button" 
            class="btn btn-danger btn-sm ms-1"
            @onclick="HandleDeleteServer"
        >Delete
        </button>
    </td>
</tr>


@code {
    /*
     * [Parameter] annotation:
     *      Makes this property settable from a parent component. 
     *      This is how Blazor proecess data downward from a Parent component to a child
     *      This annotation makes this non-routable component reusable
     * 
     * public:
     *      Makes the property accessible from the outside
     * 
     * required:
     *      Forces the parent component to always provide a value
     */
    [Parameter]
    public required Server Server { get; set; }

    /*
     * EventCallBack allows the child component to notify the partent component that something changed,
     * so the parent component can refresh its data
     */
    [Parameter]
    public EventCallback OnServerChanged { get; set; }

    //Cascading Parameters
    [CascadingParameter(Name = "SelectedCity")]
    public string? SelectedCity { get; set; }

    //Properties
    private string BackgroundColor => SelectedCity switch
    {
        "Toronto" => "background-color: DodgerBlue;",
        "Montreal" => "background-color: Gray;",
        "Ottawa" => "background-color: Green;",
        "Calgary" => "background-color: Red;",
        "Halifax" => "background-color: DarkBlue;",
        _ => "" // Returns empty string for null or unmatched cities
    };
    
    private async Task HandleDeleteServer()
    {
        ServersRepository.DeleteServer(Server.Id);
        await OnServerChanged.InvokeAsync();
    }

    private async Task HandleToggleServer()
    {
        ServersRepository.ToggleServer(Server.Id);
        await OnServerChanged.InvokeAsync();
    }
}

